{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4> 멀티미디어프로그래밍 2023-2 </h4>
        </div>
        <div class="card-body">
             <ul class="list-group">
                 <li class="list-group-item">
                     <a href="{{ url_for('img_processing') }}">디지털영상처리 - 정지영상</a>
                 </li>
                 <li class="list-group-item">
                     <a href="{{ url_for('webcam_yolo') }}">YOLO - video</a>
                 </li>
            </ul>
        </div>
    </div>
{% endblock %}